<div class="md-step-label-wrapper" layout="column" {{action 'activateStep'}}>
    <span>{{label}}</span>
  {{#if displayOptionalText}}
      <span class="optional-step-text">{{optionalText}}</span>
  {{/if}}
</div>