{{md-vertical-step-label step=this label=label}}

<div class="md-step-content-wrapper">
    <div class="md-step-content">
        <p>Hello 3</p>

      {{#paper-button type="button" class="md-accent md-raised add-guest-button"}}
          Finish
      {{/paper-button}}
    </div>
</div>