{{md-vertical-step-label step=this label=label}}

<div class="md-step-content-wrapper">
    <div class="md-step-content">
        <p>Hello 2</p>

      {{#paper-button type="button" action="completeStep" class="md-accent md-raised add-guest-button"}}
          Continue
      {{/paper-button}}
    </div>
</div>