{{#md-vertical-step-container activeStep=1 as |stepContainer| }}

  {{#md-vertical-step stepContainer=stepContainer label="Step 1" stepNumber=1 as |step1|}}
      <p>Hello 1</p>

      {{#paper-button type="button" action="completeStep" target=step1 class="md-accent md-raised add-guest-button"}}
          Continue
      {{/paper-button}}

  {{/md-vertical-step}}


  {{sample-step-2 stepContainer=stepContainer}}

  {{sample-step-3 stepContainer=stepContainer stepNumber=3 label="Step 3"}}

{{/md-vertical-step-container}}
